STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CAPTURE=false
STRIPE_AUTOMATIC_PAYMENT_METHODS=true


PAYPAL_CLIENT_ID=AbLaUl6r0SNYpgz7WInz0j8QWuk8qvHP30ePtBSamfqt207RMMQhAwT0pUcy61uyAA1Qza-99LS4rzBw
PAYPAL_CLIENT_SECRET=EOj9wtYKm8lhfldVNTC7lSAYcejElypaYD1KGKdVx0WmB1TVarJcfR8uZVlbs9Kp088wn1HXZ8j9Ibuh
PAYPAL_ENVIRONMENT=sandbox
PAYPAL_AUTO_CAPTURE=true